* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html {
    min-height: 100vh;
    position: relative;
}

main {
    margin-bottom: 140px;
}

/* NAVBAR */
#logo {
    position: absolute;
    top: 10px;
    left: 18%;
}

#logo img {
    width: 50px;;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 20px;
    text-transform: uppercase;
    list-style: none;
}

#navbar li {
    margin: 0 10px;
    padding: 5px;
}

#navbar .nav-link {
    color: #fff;
    text-decoration: none;
    transition: .5s;
    font-size: 14px;
}

#navbar .nav-link:hover {
    color: rgb(29, 185, 160);
}

/* HOME */
#title-container {
    min-width: 500px;
    text-align: center;
    margin-top: 100px;
}

#title-container h1 {
    font-size: 50px;
}

#title-container p {
    margin-top: 10px;
    text-transform: uppercase;
    color: #333;
}

#post-container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.post-box:first-child {
    min-width: 100%;
}

.post-box {
    flex: 1 1 0;
    margin-bottom: 20px;
}

.post-box:nth-child(3) {
    margin: 0 2%;
}

.post-box img {
    width: 100%;
    border-radius: 8%;
}

.post-box .post-title {
    font-size: 24px;
    margin: 10px 0;
}

.post-box .post-title a {
    color: #000;
    transition: .2s;
    text-decoration: none;
}

.post-box .post-title a:hover {
    color: #333;
}

.post-box .post-description {
    color: #222;
}

.tags-container {
    margin-top: 10px;
}

.tags-container a {
    font-size: 14px;
    transition: .2s;
    color: #333;
    display: inline-block;
    margin-right: 5px;
}

.tags-container a:hover {
    color: rgb(29, 185, 160);
}

/* POST */
#post-container-unique {
    /* margin-top: 80px; */ 
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto;
    grid-template-areas: "main sidebar";
    grid-gap: 10px;
    padding-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.content-container {
    grid-area: main;
}

#main-title {
    font-size: 36px;
    margin-bottom: 25px;
}

#post-description {
    font-style: italic;
    margin-bottom: 40px;
}

.post-content {
    line-height: 1.8;
    margin: 10px 0;
    text-align: justify;
}

.img-container {
    margin-bottom: 30px;
}

.img-container img {
    border-radius: 8%;
    width: 80%;
}

/* POST ASIDE */
.nav-container {
    grid-area: sidebar;
}

#tags-title, #categories-title {
    font-size: 24px;
    margin-bottom: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-weight: 300;
}

#tag-list, #categories-list {
    list-style: none;
}

#tag-list li, #categories-list li {
    margin-bottom: 10px;
}

#tag-list a, #categories-list a {
    color: #666;
    transition: .5s;
}

#tag-list a:hover, #categories-list a:hover {
    color: #000;
}


/* FOOTER */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 25px 0;
}

/* MOBILE */
@media(max-width: 500px) {
    /* HOME */ 
    header {
        position: relative;
        width: 100%;
    }

    #logo {
        display: block;
        position: relative;
        margin: 0 auto;
        left: 0;
        width: 50px;
    }

    #navbar {
        display: none;
    }

    #title-container {
        min-width: 100%;
        margin-top: 20px;
    }

    #post-container {
        margin-top: 20px;
    }

    .post-box {
        flex: 100% 1 1;
        padding: 15px;
    }
    
    #img_1 {
        width: 92%;
    }

    /* POST */
    #post-container-unique {
        padding: 15px;
        grid-template-columns: 100%;
        grid-template-areas: "main"
        "sidebar";
        margin-bottom: 100px;
        overflow: visible;
    }

    .img-container img {
        width: 100%;
    }
}